body{
    background: #070603;
    max-width: 1250px;
    margin: 10px auto auto auto;
    padding: 10px;
}

.pole{
    background: #f2cb2f;
    border-radius: 10px;
    padding: 10px;

    width: 390px;
    height: 390px;
    overflow: auto;

    position: absolute;
    top: 150px;
    left: 550px;
}

.OneButton{
    background: #866919;

    padding: 30px;

    margin: 10px;

}

.line{
    margin: 10px;


    display: flex;
    place-content: center;
}

.start{
    width: 290px;
    height: 50px;
    border-radius: 3px;
    font-size: 25px;
    background-color: #6b5414;
    border-style: none;

    position: absolute;
    top: 600px;
    left: 616px;

    color: #fffd4f;
}

.score{
    width: 290px;
    height: 50px;
    border-radius: 3px;
    font-size: 25px;
    color: #fffd4f;

    text-align: center;
    position: absolute;
    top: 100px;
    left: 616px;

}

.textik{
    font-size: 25px;
    color: #fffd4f;
    position: absolute;
    top: 50px;
    left: 665px;
}


/*timer*/
.message-form{


    padding: 40px;
    width: 74px;
}

.poleee{
    background: #f2cb2f;
    border-radius: 10px;
    padding: 10px;

    width: 1190px;
    height: 390px;
    overflow: auto;

    position: absolute;
    top: 150px;
    left: 250px;
}

.startTimer{
    width: 150px;
    height: 50px;
    border-radius: 3px;
    font-size: 20px;
    background-color: #6b5414;
    border-style: none;

    position: absolute;
    top: 355px;
    right:1045px;

    color: #fffd4f;
}


.score2{
    width: 700px;
    height: 50px;
    border-radius: 3px;
    font-size: 65px;
    color: #4e3b10;

    text-align: center;
    position: absolute;
    top: 100px;
    left: 316px;

}